
#hidden_columns
{
margin-bottom:10px;
}

.coll
{
cursor:pointer;

}




.required_class
{
display:inline-flex;
}
.required_class::after
{
color:red;
content: "*";
padding-left:5%;
}
.min_height
{
min-height:38px;
}
